@import "tailwindcss";

@theme {
	/* Custom colors for Tailwind v4 */
	--color-cream: #EDE5D8;
	--color-medium: #7E715D;
	--color-muted: #AB9F8B;
	--color-creamgrey: #C9C6C0;
}

@layer components {
	.styled-link {
		@apply px-3.5 py-2.5 rounded-full bg-cream outline-1 outline-solid outline-black
			hover:bg-black hover:text-white
			focus-visible:outline-2 focus-visible:outline-offset-2;
	}
	.btn-primary {
		@apply px-3.5 py-2.5 rounded-full bg-cream outline-1 outline-solid outline-black
			hover:bg-black hover:text-white
			focus-visible:outline-2 focus-visible:outline-offset-2;
	}
	.input-style {
		@apply block w-full rounded-full bg-white px-3 py-1.5 text-base text-gray-900
			outline-1 -outline-offset-1 outline-muted placeholder:text-gray-400
			focus:outline-2 focus:-outline-offset-2 focus:outline-muted sm:text-sm/6;
	}
	.nav-logo {
		@apply font-['Calistoga'] text-black text-2xl;
	}
	.nav-elem {
		@apply font-['Inter'] text-medium text-base text-xl font-normal;
	}
}

/* Your custom styles here */
body {
	margin: 0;
	padding: 0;
	background-color: #EDE5D8;
	font-family: 'Inter', sans-serif;
	font-weight: 300;
}

h1 {
	font-family: 'Calistoga', serif;
	color: black; 
}

h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	color: black; 
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

dialog {
	border: none;
	border-radius: 8px;
	padding: 2rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

